@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FAFAFB;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Drop-card {
  width: 25vw;
  min-height: 30vh;
  padding: 20px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 12px 0px #0000001A;
          box-shadow: 0px 4px 12px 0px #0000001A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Drop-card h4 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.035em;
  text-align: center;
  color: #4F4F4F;
  margin: 0;
}

.Drop-card p {
  font-size: 14px;
  opacity: .7;
  color: #4F4F4F;
  margin: 20px auto;
  text-align: center;
}

.Drop-card .image-card {
  background: #F6F8FB;
  width: 80%;
  margin: 0 auto;
  min-height: 30vh;
  border: 1px dashed #97BEF4;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.Drop-card .image-card p {
  opacity: .5;
  font-size: 12px;
}

.Drop-card .image-card img {
  max-width: 150px;
}

.Drop-card .image-card:hover {
  border: 2px dashed #97BEF4;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.Drop-card label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2F80ED;
  border-radius: 8px;
  padding: 10px 20px !important;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  margin: 0rem auto;
}

.Drop-card label:hover {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: #1366d6;
}

.hide-on-load {
  width: 100%;
}

.progress-container {
  width: 100%;
}

.progress-container h4 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.035em;
  text-align: left;
}

.progress-container .progress-bar {
  width: 100%;
  height: 8px;
  margin-top: 2rem;
  background-color: #F2F2F2;
  border-radius: 8px;
  overflow: hidden !important;
}

.progress-container .progress-bar .bar {
  position: relative;
  width: 20%;
  height: 8px;
  border-radius: 8px;
  background-color: #2F80ED;
  -webkit-animation: progress-animation .5s infinite ease-in-out;
          animation: progress-animation .5s infinite ease-in-out;
}

@-webkit-keyframes progress-animation {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  75% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  100% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}

@keyframes progress-animation {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  75% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  100% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}

.i-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.i-card h1 {
  text-align: center;
  color: #219653;
}

.i-card img {
  max-width: 100%;
  width: 100%;
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 12px;
}

.i-card h4 {
  margin: 0.5em auto;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.035em;
  text-align: center;
}

.i-card .link {
  width: 100%;
  display: -ms-grid;
  display: grid;
  border-radius: 8px;
  overflow: hidden;
  background-color: #F6F8FB;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
  grid-auto-rows: 5vh;
  margin-top: 1rem;
}

.i-card .link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.i-card .link button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.035em;
  text-align: center;
  border: none;
  color: white;
  background-color: #2F80ED;
}

.i-card .link p {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.035em;
  text-align: center;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .Drop-card {
    width: 80% !important;
  }
  .Drop-card .image-card {
    min-height: 20vh;
  }
}
